{% extends 'base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href={% static 'styles/lists/list.css' %}>
{% endblock %}

{% block content %}
	{% if books %} 
		<h2 id='title'>Libros {{title}}</h2>
	{% elif movies %}
		<h2 id='title'>Películas {{title}}</h2>
	{% endif %}

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Título</th>
				{% if books %}
					<th>Autor</th>
				{% else %}
					<th>Año</th>
				{% endif %}
				<th>Género</th>
				<th colspan=2><i class="fa-solid fa-plus fa-lg"></i></th>
			</tr>
		</thead>
		<tbody>
		{% if books%} 
			{% for book in books %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{book.title}}</td>
					<td>{{book.author}}</td>
					<td>{{book.genre}}</td>
					<td id="{{book.id}}-{{book.title}}"><i class="fa-solid fa-pen fa-lg"></i></td>
					<td id="{{book.id}}-{{book.title}}"><i class="fa-solid fa-trash-can fa-lg"></i></td>
				</tr>
			{% endfor %}
		{% elif movies %} 
			{% for movie in movies %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{movie.title}}</td>
					<td>{{movie.year}}</td>
					<td>{{movie.genre}}</td>
					<td id="{{movie.id}}-{{movie.title}}"><i class="fa-solid fa-pen fa-lg"></i></td>
					<td id="{{movie.id}}-{{movie.title}}"><i class="fa-solid fa-trash-can fa-lg"></i></td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan=6><i>Todavía no has agregado entradas a esta lista</i></td>
			</tr>
		{% endif %}
		</tbody>
	</table>
{% endblock %}

{% block script %}
	<script>
		entry_state = '{{state}}';
		csrf_token = '{% csrf_token %}';
		
		{% if books %}
			form_edit_input_name = 'book_id';
			alert_title = 'Cambiar estado del libro';
			alert_options = {
				'Completado': 'Completado',
				'En proceso': 'En proceso',
				'Abandonado': 'Abandonado',
				'En espera': 'En espera'};
			alert_select_error = `Este libro ya está `;

		{% elif movies %}
			form_edit_input_name = 'movie_id';
			alert_title = 'Cambiar estado de la película';
			alert_options = {
				'Completada': 'Completada',
				'En proceso': 'En proceso',
				'Abandonada': 'Abandonada',
				'En espera': 'En espera'};
			alert_select_error = `Esta película ya está `;
		{% endif %}

		{% if toast %}
			const Toast = {{toast|safe}}
			Toast.fire({
				icon: 'success', 
			})
		{% endif %}
	</script>
	<script src = "{% static 'js/detail_list.js' %}"></script>
{% endblock %}