{% extends 'base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href={% static 'styles/lists/list.css' %}>
{% endblock %}

{% block content %}
	{% if books %} 
		<h2>Libros {{title}}</h2>
	{% elif movies %}
		<h2>Películas {{title}}</h2>
	{% endif %}

	<table>
		<thead>
			<tr>
				<th id='id'></th>
				<th id='title'>Título</th>
				{% if books %}
					<th id='author'>Autor</th>
				{% else %}
					<th id='year'>Año</th>
				{% endif %}
				<th id='genre'>Género</th>
				<th colspan=2><i class="fa-solid fa-plus fa-lg"></i></th>
			</tr>
		</thead>
		<tbody>
		{% if books%} 
			{% for book in books %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{book.title}}</td>
					<td>{{book.author}}</td>
					<td>{{book.genre}}</td>
					<td id="{{book.id}}"><i class="fa-solid fa-pen fa-lg"></i></td>
					<td id="{{book.id}}" data-title="{{book.title}}"><i class="fa-solid fa-trash-can fa-lg"></i></td>
				</tr>
			{% endfor %}
		{% elif movies %} 
			{% for movie in movies %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{movie.title}}</td>
					<td>{{movie.year}}</td>
					<td>{{movie.genre}}</td>
					<td id="{{movie.id}}"><i class="fa-solid fa-pen fa-lg"></i></td>
					<td id="{{movie.id}}" data-title="{{movie.title}}"><i class="fa-solid fa-trash-can fa-lg"></i></td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan=6><i>Todavía no has agregado entradas a esta lista</i></td>
			</tr>
		{% endif %}
		</tbody>
	</table>
{% endblock %}

{% block script %}
	<script>
		entry_state = '{{state}}';
		csrf_token = '{% csrf_token %}';
		
		{% if books %}
			form_edit_input_name = 'book_id';
			form_add_input_name = 'new_book_id';
			
			add_alert_title = 'Añadir un libro ';
			add_alert_options = {{books_to_add|safe}};

			edit_alert_title = 'Cambiar estado del libro';
			state_options = {
				'Completado': 'Completado',
				'En proceso': 'En proceso',
				'Abandonado': 'Abandonado',
				'En espera': 'En espera'};
			edit_alert_error = 'Este libro ya está ';

		{% elif movies %}
			form_edit_input_name = 'movie_id';
			form_add_input_name = 'new_movie_id';

			add_alert_title = 'Añadir una película ';
			add_alert_options = {{movies_to_add|safe}};

			edit_alert_title = 'Cambiar estado de la película';
			state_options = {
				'Completada': 'Completada',
				'En proceso': 'En proceso',
				'Abandonada': 'Abandonada',
				'En espera': 'En espera'};
			edit_alert_error = 'Esta película ya está ';
		{% endif %}

		{% if toast %}
			const Toast = {{toast|safe}}
			Toast.fire({
				icon: 'success', 
			})
		{% endif %}
	</script>
	<script src = "{% static 'js/detail_list.js' %}"></script>
{% endblock %}