{% extends 'base.html' %}
{% load static %}

{% block style%}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/lists/summary.css' %}">
{% endblock %}

{% block content %}
	<h2>Un resumen de tus {{entry_type}}</h2>

	<div id="summaryChart"></div>
	<hr id="vertical"/>
	<div id="authorsChart" class="sideChart"></div>
	<hr id="horizontal"/>
	<div id="genresChart" class="sideChart"></div>

{% endblock %}
	
{% block script%}
	<script>
		total_count = {{total_count}}
		statesData = {{statesData|safe}}
		genresData = {{genresData|safe}}
		{% if authorsData %}
			authorsData = {{authorsData|safe}}
			authorsDataTitle = 'Autores'
		{% elif directorsData %}
			authorsData = {{directorsData|safe}}
			authorsDataTitle = 'Directores'
		{% endif %}
	</script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/list_summary.js' %}" ></script>
{% endblock %}