{% extends 'base.html' %}
{% load static %}

{% block style%}
  <link rel="stylesheet" type="text/css" href={% static 'styles/main/main.css' %}>
{% endblock %}

{% block content %}
	<h2>Aquí tienes un resumen</h2>
	<div id="statesChart" class="chart"></div>
    <hr/>
	<div id="totalCountChart" class="chart"></div>

{% endblock %}
{% block script %}
    <script>
        summaryData = {{summaryData|safe}};
        book_count = {{total_book_count|safe}};
        movie_count = {{total_movie_count|safe}};
    </script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
