{% extends 'base.html' %}
{% load static %}

{% block style%}
  <link rel="stylesheet" href={% static 'styles/main/main.css' %}>
{% endblock %}

{% block content %}
	<h2>Aquí tienes un resumen</h2>

	<div id="bookChart" class="chart"></div>
    <hr/>
    <div id="movieChart" class="chart"></div>

{% endblock %}
{% block script %}
    <script>
        books = {{books|safe}}
        movies = {{movies|safe}}
    </script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/main.js' %}" ></script>
{% endblock %}
