@use '../variables' as *

@font-face 
    font-family: caveat
    src: url(../../fonts/Caveat/static/Caveat-Bold.ttf)

@font-face 
    font-family: quicksand
    src: url(../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf)

\:root
    font-size: 18px
    font-family: quicksand

*, *::before, *::after
    margin: 0px
    padding: 0px
    // cursor: url(../../cursor.cur), auto !important 
 
body 
    height: 100vh
    color: $white
    background: $white
    display: grid
    grid-template: "header header" "nav main" "footer footer"
    grid-template-rows: 1fr 10fr auto
    grid-template-columns: 1fr 4fr

header
    background: $purple1
    grid-area: header
    display: grid
    grid-template-areas: "header search user"
    grid-template-columns: auto 1fr auto
    // justify-content: space-between
    align-items: center
    z-index: 3

    .title
        grid-area: header

    form
        grid-area: search
        place-self: center end

    div
        grid-area: user
        justify-self: right 
        padding: 0 1rem
        display: flex
        gap: 1.5rem

        div
            gap: 1rem

    svg
        height: 1.5rem
    
a   
    color: $white
    text-decoration: none

    &:hover
        color: $orange3

nav
    background: $purple3
    
    >ul>li:nth-child(1)
           padding-bottom: 2rem
           
    ul
        padding-inline-start: revert

        li
            padding: 0.2rem 0 0 0

            a
                margin: 0.5rem 0 0.5rem 0
                padding: 0.1rem 0.5rem 0.1rem 0.5rem 
                
                &:hover
                    border-radius: 1rem
                    background: $purple2
                    // color: $blue
       
main   
    grid-area: main
    color: $black
    display: grid
    align-items: start
    justify-items: center

footer
    grid-area: footer
    background: $purple4
    color: $black
    padding: 0.5rem 0.5rem 0.5rem 0
    z-index: 3

form
    width: 50%

input
    width: 100%
    background-color: #B476A7
    font-family: quicksand
    color: $white
    font-weight: bold
    border: none
    border-radius: 1rem
    padding: 0.5rem
    outline: none
    box-shadow: inset 0.5rem 0.5rem 1rem #99648e, inset -0.5rem -0.5rem 1rem #cf88c0

    &::placeholder
        color: $sheer_white

    &:focus
        outline: 1px solid $sheer_white

.title
    padding-left: 1rem
    font-family: caveat
            
.act
    border-radius: 1rem
    background: $purple4
    color: $orange2

#hide_content
    display: none
    height: 100vh
    width: 100vw
    position: absolute
    background-color: $sheer_purple4
    z-index: 2

#menu_checkbox
    display: none

::-webkit-scrollbar 
    width: 1rem
    background: transparent

::-webkit-scrollbar-track 
    background: transparent
    border-radius: 0.5rem

::-webkit-scrollbar-thumb
    border: solid $blue
    border-radius: 0.5rem
    background: transparent

::-webkit-scrollbar-thumb:hover 
    border-color: $white
    background: $blue

@media screen and (max-width: 760px)
    body
        display: grid
        grid-template: "header header" "nav main" "footer footer"
        grid-template-rows: 1fr 10fr auto
        grid-template-columns: auto 1fr
        position: relative

    header > .title
        display: none

    #user_welcome
        display: none
    
    nav
        display: none
        position: absolute
        z-index: 3
        height: 100%
        padding-right: 1rem 
    
    div>div>div>div>svg>g:nth-child(3)
        display: none

@media screen and (min-width: 761px) and (max-width: 1280px) 
    #menu_label
        display: none


@media screen and (min-width: 1281px)
    #menu_label
        display: none

