@font-face {
  font-family: caveat;
  src: url(../../fonts/Caveat/static/Caveat-Bold.ttf);
}
@font-face {
  font-family: quicksand;
  src: url(../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
:root {
  font-size: 18px;
  font-family: quicksand;
}

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  color: #EBE1F7;
  background: #EBE1F7;
  display: grid;
  grid-template: "header header" "nav main" "footer footer";
  grid-template-rows: 1fr 10fr auto;
}

header {
  background: #B476A7;
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  z-index: 4;
}
header > .title {
  grid-column: 1;
}
header > div {
  grid-column: 2;
  justify-self: right;
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
}
header > div #user_welcome {
  padding-right: 0.5rem;
}

a {
  color: #EBE1F7;
  text-decoration: none;
}
a:hover {
  color: #FFC4AD;
}

nav {
  background: #9770A6;
  z-index: 3;
}
nav > ul > li:nth-child(1) {
  padding-bottom: 2rem;
}
nav ul {
  -webkit-padding-start: revert;
          padding-inline-start: revert;
}
nav ul li {
  padding: 0.2rem 0 0 0;
}
nav ul li a {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}
nav ul li a:hover {
  border-radius: 1rem;
  background: #A777A6;
}

main {
  grid-area: main;
  color: #201824;
  display: grid;
  align-items: start;
  justify-items: center;
}

footer {
  grid-area: footer;
  background: #8368A7;
  color: #201824;
  padding: 0.5rem 0.5rem 0.5rem 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
footer > div {
  font-family: caveat;
}
footer a {
  color: #201824;
  text-decoration: none;
}
footer a:hover {
  color: #201824;
  cursor: default;
}

.title {
  padding-left: 1rem;
  font-family: caveat;
}

.act {
  border-radius: 1rem;
  background: #8368A7;
  color: #F0A6A5;
}

.toast {
  position: absolute !important;
}

#hide_content {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(131, 104, 167, 0.5568627451);
  z-index: 2;
}

#menu_checkbox {
  display: none;
}

::-webkit-scrollbar {
  width: 1rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border: solid #3B5DA0;
  border-radius: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-color: #EBE1F7;
  background: #3B5DA0;
}

/* Mobile */
@media screen and (max-width: 760px) {
  body {
    grid-template-columns: auto 1fr;
  }

  header > .title {
    display: none;
  }

  #user_welcome {
    display: none;
  }

  nav {
    display: none;
    position: absolute;
    height: 100%;
    padding-top: 15%;
    padding-right: 1rem;
  }
}
/* Mobile + Tablet */
@media screen and (max-width: 1080px) {
  body {
    grid-template-columns: auto 1fr;
    overflow-y: hidden;
  }

  header > div {
    justify-self: left;
  }

  nav {
    display: none;
    position: absolute;
    height: 100%;
    padding-top: 15%;
    padding-right: 1rem;
  }
}
/* Tablet */
@media screen and (min-width: 761px) and (max-width: 1080px) {
  header > .title {
    grid-column: 2;
    justify-self: right;
    padding-right: 1rem;
  }
  header > div {
    grid-column: 1;
    grid-row: 1;
  }
}
/* PC */
@media screen and (min-width: 1081px) {
  body {
    grid-template-columns: 1fr 4fr;
  }

  #menu_label {
    display: none;
  }

  nav {
    padding-top: 1rem;
  }
}/*# sourceMappingURL=base.css.map */