@font-face {
  font-family: caveat;
  src: url(../../fonts/Caveat/static/Caveat-Bold.ttf);
}
@font-face {
  font-family: quicksand;
  src: url(../../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
:root {
  font-size: 18px;
  font-family: quicksand;
}

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  color: #EBE1F7;
  background: #EBE1F7;
  display: grid;
  grid-template: "header header" "nav main" "footer footer";
  grid-template-rows: 1fr 10fr auto;
  grid-template-columns: 1fr 4fr;
}

header {
  background: #B476A7;
  grid-area: header;
  display: grid;
  grid-template-areas: "header search user";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  z-index: 3;
}
header .title {
  grid-area: header;
}
header form {
  grid-area: search;
  place-self: center end;
}
header div {
  grid-area: user;
  justify-self: right;
  padding: 0 1rem;
  display: flex;
  gap: 1.5rem;
}
header div div {
  gap: 1rem;
}
header svg {
  height: 1.5rem;
}

a {
  color: #EBE1F7;
  text-decoration: none;
}
a:hover {
  color: #FFC4AD;
}

nav {
  background: #9770A6;
}
nav > ul > li:nth-child(1) {
  padding-bottom: 2rem;
}
nav ul {
  -webkit-padding-start: revert;
          padding-inline-start: revert;
}
nav ul li {
  padding: 0.2rem 0 0 0;
}
nav ul li a {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}
nav ul li a:hover {
  border-radius: 1rem;
  background: #A777A6;
}

main {
  grid-area: main;
  color: #201824;
  display: grid;
  align-items: start;
  justify-items: center;
}

footer {
  grid-area: footer;
  background: #8368A7;
  color: #201824;
  padding: 0.5rem 0.5rem 0.5rem 0;
  z-index: 3;
}

form {
  width: 50%;
}

input {
  width: 100%;
  background-color: #B476A7;
  font-family: quicksand;
  color: #EBE1F7;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  box-shadow: inset 0.5rem 0.5rem 1rem #99648e, inset -0.5rem -0.5rem 1rem #cf88c0;
}
input::-moz-placeholder {
  color: rgba(235, 225, 247, 0.5019607843);
}
input:-ms-input-placeholder {
  color: rgba(235, 225, 247, 0.5019607843);
}
input::placeholder {
  color: rgba(235, 225, 247, 0.5019607843);
}
input:focus {
  outline: 1px solid rgba(235, 225, 247, 0.5019607843);
}

.title {
  padding-left: 1rem;
  font-family: caveat;
}

.act {
  border-radius: 1rem;
  background: #8368A7;
  color: #F0A6A5;
}

#hide_content {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(131, 104, 167, 0.5568627451);
  z-index: 2;
}

#menu_checkbox {
  display: none;
}

::-webkit-scrollbar {
  width: 1rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border: solid #3B5DA0;
  border-radius: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-color: #EBE1F7;
  background: #3B5DA0;
}

@media screen and (max-width: 760px) {
  body {
    display: grid;
    grid-template: "header header" "nav main" "footer footer";
    grid-template-rows: 1fr 10fr auto;
    grid-template-columns: auto 1fr;
    position: relative;
  }

  header > .title {
    display: none;
  }

  #user_welcome {
    display: none;
  }

  nav {
    display: none;
    position: absolute;
    z-index: 3;
    height: 100%;
    padding-right: 1rem;
  }

  div > div > div > div > svg > g:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 761px) and (max-width: 1280px) {
  #menu_label {
    display: none;
  }
}
@media screen and (min-width: 1281px) {
  #menu_label {
    display: none;
  }
}/*# sourceMappingURL=base.css.map */