<!DOCTYPE html>
<html lang="es">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Personal Planner</title>
    <link rel="stylesheet" href="{% static 'styles/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}">
	<link rel="stylesheet" href="{% static 'sweetalert/dist/sweetalert2.css' %}">
	{% block style%}
	{% endblock %}
	<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
	<script src="{% static 'sweetalert/dist/sweetalert2.js' %}"></script>
</head>
<body>
	<header>
			<h1 class="title">My Personal Planner</h1>
			<div>
				<label id="menu_label" for="menu_checkbox"><i class="fa-solid fa-bars fa-lg"></i></label>
				<p id="user_welcome">Hola <b>{{request.user}}</b></p>
				<input type="checkbox" id="menu_checkbox"/>
			<div>
				<a href="{% url 'main' %}"><i class="fa-solid fa-house-chimney fa-lg"></i></a>
				{% if request.user.is_staff %}
					<a href="{% url 'addEntry' %}"><i class="fa-solid fa-circle-plus fa-lg"></i></a>
				{% endif %}
				{% comment %} <a href="{% url 'search' %}"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a> {% endcomment %}
				<a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a>
			</div>
		</div>
	</header>
	<nav>
		<ul>
			<li><a href="{% url 'books' %}">Libros</a>
				<ul>
					<li><a href="{% url 'bookList' 'completos' %}">Completados</a></li>
					<li><a href="{% url 'bookList' 'en-proceso' %}">En proceso</a></li>
					<li><a href="{% url 'bookList' 'abandonados' %}">Abandonados</a></li>
					<li><a href="{% url 'bookList' 'en-espera' %}">Lista de espera</a></li>
				</ul>
			</li>
			<li><a href="{% url 'movies' %}">Películas</a>
				<ul>
					<li><a href="{% url 'movieList' 'completas' %}">Completadas</a></li>
					<li><a href="{% url 'movieList' 'en-proceso' %}">En proceso</a></li>
					<li><a href="{% url 'movieList' 'abandonadas' %}">Abandonadas</a></li>
					<li><a href="{% url 'movieList' 'en-espera' %}">Lista de espera</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<main id='toast_target'>
		<div id="hide_content"></div>
		{% block content%}
		{% endblock %}
	</main>
	<footer>
		<h3 class="title">My Personal Planner</h3>
		{% comment %} <p>Esta web forma parte de un proyecto de final de grado</p> {% endcomment %}
	</footer>

	<script>
		document.addEventListener('DOMContentLoaded', setup)

		function setup(e){
			document.querySelector('#menu_label').addEventListener('click', toggleMenu)
			try{
				const el = document.querySelectorAll('li > a');
				const url = document.location.href;
				el.forEach((a)=>{
					if (url==a.href){
						a.className = 'act';
					}
				})
			}catch(e){
				console.error(e)
			}
		}

		function toggleMenu(e){
			const menu = document.querySelector('nav');
			const content = document.querySelector('#hide_content');
			const checkbox = document.querySelector('#menu_checkbox');
			
			if(checkbox.checked){
				menu.style.display = 'none'
				content.style.display = 'none'
			}else{
				menu.style.display = 'initial'
				content.style.display = 'unset'
			}
		}
	</script>
	{% block script %}
	{% endblock %}


	</body>
</html>