<!DOCTYPE html>
<html lang="es">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Personal Planner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert2.css' %}">
	{% block style%}
	{% endblock %}
	<script src="https://kit.fontawesome.com/e98ca0b4f8.js" crossorigin="anonymous"></script>
	<script src="{% static 'sweetalert/dist/sweetalert2.js' %}"></script>
</head>
<body>
	<header>
		<h1 class="title">My Personal Planner</h1>
		<div>
			<label id="menu_label" for="menu_checkbox"><i class="fa-solid fa-bars fa-lg"></i></label>
			<p id="user_welcome">Hola <b>{{request.user}}</b></p>
			<input type="checkbox" id="menu_checkbox"/>
				<a href="{% url 'main' %}"><i class="fa-solid fa-house-chimney fa-lg"></i></a>
				{% if request.user.is_staff %}
					<a href="{% url 'addEntry' %}"><i class="fa-solid fa-circle-plus fa-lg"></i></a>
				{% endif %}
				<a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a>
		</div>
	</header>
	<nav>
		<ul>
			<li><a href="{% url 'books' %}">Libros</a>
				<ul>
					<li><a href="{% url 'bookList' 'completos' %}">Completados</a></li>
					<li><a href="{% url 'bookList' 'en-proceso' %}">En proceso</a></li>
					<li><a href="{% url 'bookList' 'abandonados' %}">Abandonados</a></li>
					<li><a href="{% url 'bookList' 'en-espera' %}">Lista de espera</a></li>
				</ul>
			</li>
			<li><a href="{% url 'movies' %}">Películas</a>
				<ul>
					<li><a href="{% url 'movieList' 'completas' %}">Completadas</a></li>
					<li><a href="{% url 'movieList' 'en-proceso' %}">En proceso</a></li>
					<li><a href="{% url 'movieList' 'abandonadas' %}">Abandonadas</a></li>
					<li><a href="{% url 'movieList' 'en-espera' %}">Lista de espera</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<main id='toast_target'>
		{% block content%}
		{% endblock %}
	</main>
	<footer>
		<h3 class="title">My Personal Planner</h3>
		<div>
			<i class="fa-solid fa-book-quran fa-rotate-180"></i>
			<span>Paula Tudela Cabrera</span>
			<a href="https://shorturl.at/frzB7" target="_blank">
				<i class="fa-solid fa-broom"></i>
			</a>
		</div>
	</footer>
	<script src="{% static 'js/base.js' %}" ></script>
	{% block script %}
	{% endblock %}
	</body>
</html>