{% extends 'base.html' %}
{% load static %}

{% block style%}
  <link rel="stylesheet" href={% static 'styles/main/main.css' %}>
{% endblock %}

{% block content %}
	<h2>Aquí un resumen</h2>

	<div id="piechart"></div>
    <hr/>
    <div id="chart2"></div>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work',     11],
                ['Eat',      2],
                ['Commute',  2],
                ['Watch TV', 2],
                ['Sleep',    7]
            ]);

            var options = {
                backgroundColor: 'transparent',
                is3D: true,
                legend:{
                    alignment: 'center'
                },
                pieSliceText: 'label',
                colors: ['#FFBDC9', '#C3CFFF', '#ADD0A4', '#99A1EB', '#E8A895']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        function drawChart2() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Work',     11],
                ['Eat',      2],
                ['Commute',  2],
                ['Watch TV', 2],
                ['Sleep',    7]
            ]);

            var options = {
                backgroundColor: 'transparent',
                pieHole: 0.4,
                legend:{
                    alignment: 'center'
                },
                pieSliceText: 'label',
                colors: ['#FFBDC9', '#C3CFFF', '#ADD0A4', '#99A1EB', '#E8A895']
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart2'));

            chart.draw(data, options);
        }
  </script>
{% endblock %}
