{% extends 'base.html' %}
{% load static %}

{% block style%}
  <link rel="stylesheet" href={% static 'styles/main/main.css' %}>
{% endblock %}

{% block content %}
	<h2>Aquí un resumen</h2>

	<div id="bookChart"></div>
    <hr/>
    <div id="movieChart"></div>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBookChart);
        google.charts.setOnLoadCallback(drawMovieChart);

        function drawBookChart() {
            var data = google.visualization.arrayToDataTable({{books|safe}});

            var options = {
                backgroundColor: 'transparent',
                is3D: true,
                legend:{
                    alignment: 'center'
                },
                colors: ['#FFBDC9', '#C3CFFF', '#ADD0A4', '#99A1EB', '#E8A895'],
            };

            var chart = new google.visualization.PieChart(document.getElementById('bookChart'));

            chart.draw(data, options);
        }
        function drawMovieChart() {

            var data = google.visualization.arrayToDataTable({{movies|safe}});

            var options = {
                backgroundColor: 'transparent',
                pieHole: 0.4,
                legend:{
                    alignment: 'center'
                },
                colors: ['#FFBDC9', '#C3CFFF', '#ADD0A4', '#99A1EB', '#E8A895']
            };

            var chart = new google.visualization.PieChart(document.getElementById('movieChart'));

            chart.draw(data, options);
        }
  </script>
{% endblock %}
