@use '../variables' as *

#noDataDiv
    grid-row: 2
    grid-column: 1 / span 3
    display: grid
    place-self: center
    place-content: center
    color: $sheer_purple4
    text-align: center

.chart
    width: 95%
    height: 95%

hr
    place-self: center
    border: solid $sheer_purple4 1px

h2
    padding-top: 0.5rem
    color: $purple5
    grid-column: 1 / span 3

/* Mobile */
@media screen and (max-width: 760px)
    main
        grid-template-rows: auto 1fr auto 1fr
        grid-template-columns: 1fr

    hr
        height: fit-content
        width: 80%
        grid-row: 3

    #statesChart
        grid-row: 2

        >div >div:nth-child(1) >div >svg >g:nth-child(2)
            display: none

    #totalCountChart
        grid-row: 4



/* Tablet */
@media screen and (min-width: 761px) and (max-width: 1080px)
    main
        grid-template-rows: auto 1fr auto 1fr
        grid-template-columns: 1fr

    hr
        height: fit-content
        width: 80%
        grid-row: 3

    #statesChart
        grid-row: 2

    #totalCountChart
        grid-row: 4    

/* PC */
@media screen and (min-width: 1081px)
    main
        grid-template-rows: auto 1fr
        grid-template-columns: 3fr auto 2fr
        // overflow-y: scroll

    hr
        height: 80%
        width: fit-content
        grid-column: 2
        grid-row: 2

    #statesChart
        grid-column: 1

    #totalCountChart
        grid-column: 3

    .chart
        grid-row: 2